/*********************************\
    #Variables
\*********************************/
/*********************************\
    #Font
\*********************************/
@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
/*********************************\
    #Global
\*********************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #36384e;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-Regular";
}
@media (max-width: 768px) {
  body {
    height: auto;
  }
}
/*********************************\
    #Subscription
\*********************************/
.subscription {
  max-width: 56.5em;
  border-radius: 2.25em;
  padding: 1.5em 2em;
  align-items: center;
  justify-content: center;
  column-gap: 4em;
  background-color: #ffffff;
}
.subscription__open {
  display: flex;
}
.subscription__close {
  display: none;
}
@media (max-width: 768px) {
  .subscription {
    flex-direction: column-reverse;
    align-items: flex-start;
    row-gap: 2.5em;
    max-width: 38em;
    margin: 73px 0;
    padding: 2.625em 2.5em;
  }
}
@media (max-width: 480px) {
  .subscription {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0px;
    justify-content: center;
    max-width: 375px;
    border-radius: 0;
  }
}
.subscription__content {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  flex: 0 0 23.5em;
}
@media (max-width: 768px) {
  .subscription__content {
    flex: 0 0 24.625em;
    row-gap: 1.5em;
    max-width: 33em;
  }
}
@media (max-width: 480px) {
  .subscription__content {
    max-width: 327px;
  }
}
.subscription__heading {
  font-size: 3.5rem;
  line-height: 100%;
  color: #242742;
  font-family: "Roboto-Bold";
}
@media (max-width: 480px) {
  .subscription__heading {
    font-size: 2.5rem;
  }
}
.subscription__sub-text {
  line-height: 150%;
  color: #242742;
}
.subscription__benefits {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.subscription__benefits svg {
  flex: 0 0 21px;
}
.subscription__benefit {
  color: #242742;
  line-height: 150%;
  list-style: none;
  display: flex;
  column-gap: 16px;
  align-items: center;
}
@media (max-width: 480px) {
  .subscription__benefit {
    align-items: flex-start;
  }
}

/*********************************\
    #Subscription images
\*********************************/
@media (max-width: 768px) {
  .subscription__content__img--desktop,
  .subscription__content__img--mobile {
    display: none;
  }
}
@media (max-width: 480px) {
  .subscription__content__img--desktop,
  .subscription__content__img--tablet {
    display: none;
  }
  .subscription__content__img--mobile {
    display: block;
  }
}
@media (min-width: 769px) {
  .subscription__content__img--mobile,
  .subscription__content__img--tablet {
    display: none;
  }
  .subscription__content__img--desktop {
    display: block;
  }
}
/*********************************\
    #Form
\*********************************/
@media (max-width: 480px) {
  .form {
    padding-bottom: 44px;
  }
}
.form__label {
  font-family: "Roboto-Bold";
  line-height: 150%;
  font-size: 0.75rem;
  display: block;
  margin-bottom: 8px;
}
.form__input {
  font-size: 1rem;
  display: block;
  margin-bottom: 1.5em;
  width: 100%;
  line-height: 150%;
  padding: 1em 1.5em;
  border-radius: 8px;
  border: 1px solid #949494;
  font-family: "Roboto-Regular";
}
@media (max-width: 768px) {
  .form__input {
    margin-bottom: 1em;
  }
}
.form__input:focus {
  outline: none;
  border: 1px solid #242742;
  color: #242742;
}

/*********************************\
    #Button
\*********************************/
.btn {
  padding: 16px 16px;
  border-radius: 8px;
  width: 100%;
  background: #242742;
  color: #ffffff;
  font-family: "Roboto-Bold";
  line-height: 150%;
  border: none;
  font-size: 1rem;
}
.btn:hover {
  background: linear-gradient(90deg, #ff6a3a 0%, #ff527b 100%);
  box-shadow: 0px 16px 32px rgba(255, 97, 85, 0.5);
}

/*********************************\
    #Success
\*********************************/
.success {
  max-width: 31.5em;
  padding: 3.75em 4em;
  background-color: #ffffff;
  border-radius: 2.25em;
  flex-direction: column;
  row-gap: 2em;
  display: none;
}
.success__open {
  display: flex;
}
.success__close {
  display: none;
}
@media (max-width: 480px) {
  .success {
    max-width: 100%;
    padding: 0 1.5em;
    border-radius: 0;
    justify-content: center;
    height: 100vh;
  }
  .success__btn {
    margin-top: 263px;
  }
}
.success__heading {
  font-size: 3.5rem;
  line-height: 100%;
  font-family: "Roboto-Bold";
  color: #242742;
}
.success__text {
  font-size: 1rem;
  line-height: 150%;
}
.success__text span {
  color: #242742;
  font-family: "Roboto-Bold";
}